<a href="https://colab.research.google.com/github/Seo-Hongju/Hong_test_git01/blob/master/LinearRegression_lec_%EC%84%9C%ED%99%8D%EC%A3%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
# csv 파일 불러오기

import os
path = '/gdrive/My Drive/Colab Notebooks/'
os.chdir(path)
os.getcwd()
!pip3 install wget
import wget
wget.download('/gdrive/My Drive/Colab Notebooks/USA_Housing.csv')

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=c2901a528cfe867c24e1bf62c6354481252dcc655ba1a19e10da514b9510cbc7
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

ValueError: ignored

In [0]:
# df에 데이터 저장하기
df = pd.read_csv('USA_Housing.csv')
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

In [0]:
# 상관관계 파악
df.corr()

                              Avg. Area Income  ...     Price
Avg. Area Income                      1.000000  ...  0.639734
Avg. Area House Age                  -0.002007  ...  0.452543
Avg. Area Number of Rooms            -0.011032  ...  0.335664
Avg. Area Number of Bedrooms          0.019788  ...  0.171071
Area Population                      -0.016234  ...  0.408556
Price                                 0.639734  ...  1.000000

[6 rows x 6 columns]

In [0]:
# x, y에 산출해낼 컬럼 저장
# x = 원인, y = 종속
y = df['Price']
x = df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population']]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
# 학습 데이터, 테스트 데이터 나누기
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
lr = LinearRegression()

In [0]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# 계수 값 확인
lr.coef_

array([2.17188128e+01, 1.65371555e+05, 1.19310832e+05, 1.48665584e+03,
       1.52110238e+01])

In [0]:
coef_df = pd.DataFrame(lr.coef_, columns=['Coefficient'], index= x.columns)
coef_df

                                Coefficient
Avg. Area Income                  21.718813
Avg. Area House Age           165371.555413
Avg. Area Number of Rooms     119310.831534
Avg. Area Number of Bedrooms    1486.655840
Area Population                   15.211024

In [0]:
predict_housing = lr.predict(x_test)
data = {'predict_data':predict_housing, 'test_data':y_test}
df = pd.DataFrame(data)
df.T

                      4003          2314  ...          4050          4927
predict_data  1.602819e+06  1.018593e+06  ...  1.073781e+06  1.103179e+06
test_data     1.496777e+06  9.461821e+05  ...  1.109261e+06  9.285388e+05

[2 rows x 1500 columns]

In [0]:
# 평가하는 부분
from sklearn import metrics
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

print('MAE:',metrics.mean_absolute_error(y_test, predict_housing))  # 기본
print('MSE:',mean_squared_error(y_test, predict_housing))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predict_housing)))
print('R2 Score:',metrics.r2_score(y_test, predict_housing)) # 1에 가까울 수록 좋음

MAE: 82195.29515443301
MSE: 10408993809.246475
RMSE: 102024.47652032562
R2 Score: 0.9120677435692212